@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
  --mario-run-animation-speed: 5s;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  border: none;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.wrap {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header-main, .content-main, .footer-main {
  flex-shrink: 0;
}

.header-main {
  background-color: #db4814;
  box-shadow: inset 2px 2px 0 #e3b8c5, inset -2px -2px 0 #050306;
  color: #ffc2b9;
  display: grid;
  grid-template-columns: 50px 1fr;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
}

.header-main::before,
.header-main::after {
  background: #ffc2b9;
  box-shadow: 2px 2px 0 #050505;
  content: "";
  height: 4px;
  position: absolute;
  width: 4px;
}

.header-main::before {
  bottom: 7px;
  left: 6px;
}

.header-main::after {
  bottom: 7px;
  right: 6px;
}

.content-main {
  animation: mariorun calc(var(--mario-run-animation-speed)) linear 0s infinite;
  background-color: #6a94fb;
  background-image: url("./assets/block.png"), url("./assets/mario-running.gif"),
    url("./assets/mario-mtn.png");
  background-position-x: left, 0, 4.5vw;
  background-position-y: 100%, calc(100% - 37px), calc(100% - 38px);
  background-repeat: repeat no-repeat, no-repeat, no-repeat;
  background-size: 40px, 50px, 200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 50px 0 0 0;
  padding-bottom: 40px;
  padding-top: 30px;
}

@keyframes mariorun {
  from {
    background-position-x: left, -5vw, 4.5vw;
  }
  to {
    background-position-x: left, 105vw, 4.5vw;
  }
}

.logo-wrap {
  max-width: 50px;
  max-height: 50px;
  grid-column: 1/1;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.company-title {
  align-items: center;
  display: flex;
  font-size: 1.5em;
  font-weight: 900;
  grid-column: 2;
  text-shadow: 2px 3px 0 #050505, 1px 3px 0 #050505;
  text-transform: uppercase;
  top: -2px;
}

.baddie-ul {
  list-style: none;
  padding: 0;
}

.baddie-li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.baddie-name {
  text-align: center;
  width: 100%;
  border-top: 1px solid #aaa;
  margin-top: 0.625em;
  display: inline-block;
}

.baddie-cost {
  display: flex;
  margin-bottom: 1.25em;
}

.baddie-price::after {
  content: ":";
  margin-right: 5px;
}

.baddie-name {
  font-size: 1.25em;
}

.baddie-img {
  max-width: 200px;
  max-height: 200px;
}

.baddie-quantity {
  text-align: center;
}

.baddie-totals {
  align-self: center;
  background-color: #db4814;
  box-shadow: inset 2px 2px 0 #e3b8c5, inset -2px -2px 0 #050306;
  color: #ffc2b9;
  text-shadow: 2px 3px 0 #050505, 1px 3px 0 #050505;
  display: flex;
  font-size: 1.25em;
  justify-content: center;
  margin-bottom: 2em;
  padding: 10px 15px;
  position: relative;
}

.baddie-totals::before,
.baddie-totals::after {
  background: #ffc2b9;
  box-shadow: 2px 2px 0 #050505;
  content: "";
  height: 4px;
  position: absolute;
  width: 4px;
}

.baddie-totals::before {
  bottom: 7px;
  left: 6px;
}

.baddie-totals::after {
  bottom: 7px;
  right: 6px;
}

.baddie-total-label {
  font-weight: 800;
}

.baddie-total-result {
  min-width: 150px;
  text-align: center;
}

.footer-main {
  /* grid-row: 3; */
  align-items: center;
  background-color: #e1441f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 1.25em;
  width: 100vw;
}

.footer-main a {
  color: #fff;
}

.footer-info-li {
  padding: 1.25em 0;
}

.footer-info-li.footer-address {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 599px) {
  .company-title {
    padding-left: 15px;
  }

  .baddie-li {
    flex-direction: column;
    margin-bottom: 1.25em;
  }

  .baddie-info {
    padding-top: 0.625em;
  }
}

@media screen and (min-width: 600px) {
  .header-main {
    grid-template-columns: 50px 1fr 50px;
  }

  .company-title {
    justify-content: center;
  }

  .content-main {
    animation: mariorun calc(var(--mario-run-animation-speed) * 2) linear 0s
      infinite;
  }

  .baddie-li {
    flex-direction: row-reverse;
    margin-bottom: 1em;
  }

  .baddie-img-wrap {
    min-width: 210px;
    display: flex;
    justify-content: center;
  }

  .baddie-info {
    min-width: 210px;
  }

  .baddie-price {
    min-width: 75px;
    text-align: right;
  }

  .footer-info-li {
    padding: 0 0 0.625em 0;
  }

  .footer-info-li.footer-address {
    display: flex;
    align-items: center;
  }
}

@media screen and ((min-height: 600px) or (min-width: 600px)) {
}

@media screen and (min-width: 900px) {
  .content-main {
    animation: mariorun calc(var(--mario-run-animation-speed) * 3) linear 0s
      infinite;
  }

  .footer-main {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .content-main {
    animation: mariorun calc(var(--mario-run-animation-speed) * 4) linear 0s
      infinite;
  }
}
@media screen and (min-width: 1400px) {
  .content-main {
    animation: mariorun calc(var(--mario-run-animation-speed) * 5) linear 0s
      infinite;
  }

  .baddie-ul {
    display: flex;
    justify-content: space-around;
  }

  .baddie-name {
    border-top: none;
  }
}
